# Here is where you will want to put your hosts style dns entries for local
192.168.1.1 router.asgharlabs.io router
192.168.1.103 tardis.asgharlabs.io tardis
192.168.1.104 skippy.asgharlabs.io skippy
